<html>
<body>

<h1>Pledge Canceled</h1>

<p>
<%= @local_subscription.user.email %> has canceled her/his pledge. Don't worry, these things happen :)
</p>

<p>
	Here's the details:<br>
	<b>Email Address:</b> <%= @local_subscription.user.email %><br>
	<b>Pledge Level:</b> <%= @local_subscription.plan.name %><br>
	<b>Monthly Pledge:</b> <%= number_to_currency @local_subscription.price %><br>
	<b>Status:</b> Canceled<br>
</p>

<p>If you ever need help or have questions => hello@patrons.us</p>

<p>Cheers,</p>

<p>Justin / <a href="http://patrons.us">Patrons</a></p>

</body>
</html>