<html>
<body>

<h1>We Got Stripe Events, But No User?!?!</h1>
<h3>(this maybe have been caused by a deleted pledge)</h3>


<p>
<b>Event Details:</b><br>
<%= @payment_notification %>
</p>
</body>
</html>