<html>
<body>

<p>Hey there,</p>

<p>Welcome to the Patrons family!</p>

<p>You can manage your account, set up your Pledge Levels, and view your supporters from the Patrons app on your Facebook Page. Just click the 'Manage App Settings' button.</p>

<p>If you ever have questions or need help => hello@patrons.us</p>

<p>Cheers!</p>

<p>Justin / <a href="http://patrons.us">Patrons</a></p>

</body>
</html>