<p id="back_link"><%= link_to "« Back", artist_url(@artist) %></p>

<h1>Frequently Asked Questions</h1>

<p>
  <strong>Is my purchase and credit card information secure?</strong><br>
  Absolutely! All transactions are done over a secure SSL encrypted connection. The same technology that banks use to keep your information safe.	
</p>


<p>
  <strong>What fees does Patrons charge?</strong><br>
  Patrons collects a 5% fee from the artist's total monthly pledges. Stripe (our payments processor) also charges credit card processing fees that generally work out to about 3%.	
</p>