<div id="coming-soon">
<div id="coming-soon-text">

<h1><img src="/images/patrons-logo-medium-black.png" border="0" alt="Patrons Logo" /></h1>

<p>A super easy way for your biggest<br>fans to support you. Good stuff, huh?</p>
</div>

<img src="/images/patrons-coming-soon-graphic.png"/>

</div>

