<div id="coming-soon">
<div id="coming-soon-text">
<h1>Coming Soon</h1>

<p>Soon this page will contain a super easy way<br>for you to support your favorite artists.<br>Good stuff, huh?</p>
</div>

<img src="/images/patrons-coming-soon-graphic.png"/>

</div>

