<!-- START HEADER -->
<div id="header">
	<div id="header-logo">
        <!-- LOGO -->        
    	<a data-controls-modal="modal-about" data-backdrop="true" data-keyboard="true" id="logo"><img src="/images/patrons-logo.png" border="0" alt="Patrons Logo" /></a>
    </div>
</div>
<!-- END HEADER -->

<h1>Update Credit Card</h1>

<%= render 'edit_form' %>
